
.header-1 {
        background-color: #FFE330;
    }


#yellowButton .btn-colour-1 {
  color: #000000 !important;
  background-color: #FFE330 !important;
  border-color: #FFE330 !important;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
}

#yellowButton .btn-colour-1:hover,
.btn-colour-1:active,
.btn-colour-1:focus,
.btn-colour-1.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #c6b008 !important;
  color: #000000 !important;
  border-color: #c6b008 !important;
}


.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

.trash_align{
  align-content: start;
  margin-right:-10;
}