<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/css/style.css" rel="stylesheet" media="all">
    <link rel="icon" href="/static/favicon.ico">
    <title>Brickin' it</title>
</head>
<body class="bg-light">
<!-- Navigation -->
<div class="container-fluid" style="background-color: white">
    <header >
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-12 text-center">
                <img src="/static/lego_logo.png" alt="Brickin it" href="/" style="width:100px;">
            </div>

        </div>
    </header>


</div>
<nav class="navbar navbar-dark bg-light navbar-expand-lg" >

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" style="background-color: #FFE330">
        <div class="navbar-nav justify-content-between w-100">
            <div  class="col-4 d-flex justify-content-left align-items-center">
                <a style="color: black" class="nav-link p-2" href="/home">Home</a>
                <a style="color: black" class="nav-link p-2"  href="/newPost">New Post</a>
            </div>

            <div class="col-6 d-flex justify-content-end align-items-center">
                <form class="form-inline p-2 " action="/search">
                    <input class="form-control" type="text" placeholder="Search">
                    <button class="btn btn-danger  " type="submit">Search</button>
                </form>

                {% if loggedIn %}
                <a  class="btn btn-light mx-2"  style="background-color: white; border-color: white;" role="button" href="/userLogOut">Log Out</a>

                {% else %}
                <a class="btn btn-light" style="background-color: white; border-color: white;" role="button" href="/logIn">Log In</a>
                <a  class="btn btn-light mx-2" style="background-color: white; border-color: white;" role="button" href="/signUp">Sign up</a>

                {% endif %}
            </div>
        </div>
    </div>
</nav>

<br>
<br>
<br>

<div class="container-fluid bg-light">
    {% block content %}{% endblock %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>