<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/style.css" rel="stylesheet" media="all">
    <style>

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#00A0C6;
    text-decoration:none;
    cursor:pointer;
}
    </style>
    <link rel="icon" href="/static/favicon.ico">
    <title>Brickin' it</title>
</head>
<body class="bg-light">
<!-- Navigation -->
<div class="container-fluid" style="background-color: white">
    <header>
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-12 text-center">
                <img src="/static/lego_logo.png" alt="Brickin it" href="/" style="width:100px;">
            </div>

        </div>
    </header>


</div>

<nav class="navbar stick-top navbar-dark navbar-expand-lg" style="background-color: #FFE330">
    <a class="navbar-brand" href="/" style="color: black">Brickin' It</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
            style="background-color: #FFE330">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="loggedIn" data-loggedIn="{{loggedIn}}" style="display: none"><span>{{loggedIn}}</span></div>

    <div class="collapse navbar-collapse" style="background-color: #FFE330">
        <div class="navbar-nav justify-content-between w-100">


            <div class="col-4 d-flex justify-content-left align-items-center">
                <a style="color: black" class="nav-link p-2" href="/home">Home</a>
                {% if loggedIn %}
                <a style="color: black" class="nav-link p-2" href="/newPost">New Post</a>

                <a style="color: black" class="nav-link p-2" href="/profile">Profile</a>
                {% endif %}
            </div>

            <div class="col-6 d-flex justify-content-end align-items-center">

                <form class="form-inline p-2 " action="/search">
                    <input class="form-control" type="text" placeholder="Search" name="search_term">
                    <button class="btn btn-danger  " type="submit">Search</button>
                </form>
                {% if loggedIn %}
                <a class="btn btn-light" style="background-color: white; border-color: white;"
                   role="button"
                   href="/userLogOut">Log Out</a>

                {% else %}
                <a class="btn btn-light" style="background-color: white; border-color: white;" role="button"
                   href="/logIn">Log In</a>
                <a class="btn btn-light mx-2" style="background-color: white; border-color: white;" role="button"
                   href="/signUp">Sign up</a>

                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="container-fluid m-2">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}

    {% for category, message in messages %}

    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">

        <span>{{message}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    {% endif %}
    {% endwith %}

</div>

<!--Session time out modal -->

<!-- Modal -->
<div class="modal fade" id="timeoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Session time out warning</h5>
            </div>
            <div class="modal-body">
                You will be logged out in <span id="seconds-timer"></span> seconds as you have been inactive for 10
                minutes. Do you want to extend the session?
            </div>
            <div class="modal-footer">
                <button id="keepSession" type="button" class="btn btn-success">Stay logged in</button>
                <button id="endSession" type="button" class="btn btn-danger">Log out now</button>
            </div>
        </div>
    </div>
</div>
<br>


<div class="container-fluid bg-light d-flex justify-content-center">
    {% block content %}{% endblock %}
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="/static/js/auto-log-out.js"></script>
<script src="/static/js/captcha.js"></script>
<script src="/static/js/changeImage.js.js"></script>
</body>
</html>