{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div>
                <img src="../static/other_images/error.jpg" alt="Uh oh!"/>
            </div>
        </div>
        <div class="col-6 align-self-center px-3">
            <div class="row">
                <div>
                    <div>
                        <h2 class="text-info">Oh No!</h2>
                    </div>
                    <div>
                        <p>Looks like something has gone wrong!</p>
                    </div>
                    <div>

                        <form class="d-flex" method="get" action="/"> <p>Click
                            <button type="submit" class="clickable m-0 p-0"
                                    style="border: none; outline: none; background: transparent;">HERE
                            </button> to return to the home page </p>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}