{% extends 'base.html' %}

{% block content %}
<div class="container-fluid col-12 align-items-top">
<div class="row flex-nowrap justify-content-between align-items-center">
        <h3>{% block title %}Home{% endblock %}</h3>
    <br>
</div>
<div class="row flex-nowrap justify-content-between align-items-center">
       <h4> Popular Posts </h4>
</div>

<div class="row flex-nowrap justify-content-between align-items-center">
    <table class="table-bordered" >
        <tr>
            {% for col in col_names %}
            <th>
                {{col}}
            </th>
            {% endfor %}
        </tr>
        {% for row in rows %}
        <tr>
            {% for item in row%}
            <td>
                {{item}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

    <br>
</div>
{% endblock %}