{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br>
    <input
        class="btn shadow-sm  btn-dark mt-0 mb-5"
        action="action"
        onclick="window.history.go(-1); return false;"
        type="submit"
        value="Back"
/>
    <br>
    {%if rows %}
    <h5 class="display-4"> Search results for <span class="font-italic">"{{search_term}}"</span> </h5>
<br>
        {%for row in rows%}
    <div class="jumbotron shadow pt-1 pb-0 m-0">
        <div class="container-fluid">
            <div class="row  align-items-center align-self-center me-0 pe-0">
                <div class="col-10">
                    <div class="row align-items-center"><h5><a href="/specificPost/{{row[0]}}">{{row[1]}}</a></h5></div>
                    <hr class="m-0 p-0 align-items-start">
                    <div class="row align-items-center">{{row[2]}}</div>
                    <div class="row align-items-center p-1"><small>TAG: {{row[5]}}</small></div>
                </div>
                <div class="col-2">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-5 justify-content-center align-items-center">

                            <img src="/static/user_images/{{row[3]}}.png" alt="User Profile Image"
                                 class="rounded-circle"
                                 style="max-width: 100%">
                        </div>
                        <div class="col">
                            <div class=" row row justify-content-start align-items-start">
                                <a class="font-weight-bold" href="/otherProfile/{{row[4]}}">{{row[4]}}</a>
                            </div>


                            <div class="row justify-content-start align-items-start ">

                                <small> {{row[6]}} </small>

                            </div>
                            <div class="row row justify-content-start align-items-start "><small>{{row[7]}}
                                comments</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <br>
    {%endfor%}
    <br>
    {% else %}

     <div class="jumbotron shadow ">
        <span class="d-flex justify-content-center">
            No search results found for <span class="font-italic">"{{search_term}}"</span>
        </span>

            </div>
    {% endif %}
</div>
{% endblock %}